<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930580114832-2udt1aq4k0o70r6t5lpemscsv9r169qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930580114832-2udt1aq4k0o70r6t5lpemscsv9r169qk</string>
	<key>API_KEY</key>
	<string>AIzaSyDAdZLtd3aw0GMqfD2xozJBFIkxXOoyuEs</string>
	<key>GCM_SENDER_ID</key>
	<string>930580114832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.baz.projectOmega</string>
	<key>PROJECT_ID</key>
	<string>project-omega-a8e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-omega-a8e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930580114832:ios:e689955148e3f793559715</string>
</dict>
</plist>